@media screen and (max-width: 1124px) {
  .button_grid {
    grid: none;
    width: 100%;
  }
  .section-home-hero-content p {
    /* max-width: 400px; */
  }

  .section-home-hero-content h1 {
    text-align: center;
  }

  /* .section-home-hero .flex {
    display: block !important;
  } */
}
@media screen and (max-width: 992px) {
  .home-hero-images {
    order: -1;
    justify-content: center;
    align-items: center;
    min-height: auto;
    display: flex;
  }
  .image-background-gradient {
    z-index: 4;
    pointer-events: none;
    background-image: linear-gradient(#fff0, #fff0 66%, #000);
    display: block;
    position: absolute;
    inset: 0%;
  }

  .navbar_items .flex {
    display: none !important  ;
  }
  .menu-icon_box-top {
    background-color: white;
    width: 24px;
    height: 2px;
    padding-bottom: 0;
    padding-right: 0;
    transform: translate3d(0px, 8px, 0px) scale3d(1, 1, 1) rotateX(0deg)
      rotateY(0deg) rotateZ(45deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
  }
  .menu-icon_box-middle {
    background-color: white;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 2px;
    margin-top: 6px;
    margin-bottom: 6px;
    padding-bottom: 0;
    padding-right: 0;
    display: flex;
    opacity: 0;
  }
  .menu-icon_box-bottom {
    background-color: white;
    width: 24px;
    height: 2px;
    padding-bottom: 0;
    padding-right: 0;
    transform: translate3d(0px, -8px, 0px) scale3d(1, 1, 1) rotateX(0deg)
      rotateY(0deg) rotateZ(-45deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
  }
  .menu-icon {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding-bottom: 0;
    padding-right: 0;
    display: flex;
    cursor: pointer;
  }
  .menu-icon_line-top {
    background-color: white;
    width: 24px;
    height: 2px;
    padding-bottom: 0;
    padding-right: 0;
  }

  .menu-icon_line-middle {
    background-color: white;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 2px;
    margin-top: 6px;
    margin-bottom: 6px;
    padding-bottom: 0;
    padding-right: 0;
    display: flex;
  }
  .menu-icon_line-middle-inner {
    width: 4px;
    height: 0;
    padding-bottom: 0;
    padding-right: 0;
  }
  .menu-icon_line-bottom {
    background-color: white;
    width: 24px;
    height: 2px;
    padding-bottom: 0;
    padding-right: 0;
  }
  .section-home-hero .flex {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    min-height: auto;
    flex-flow: column;
  }
  .section-home-hero {
    height: 150%;
  }
  .section-home-hero-content {
    padding-top: 50px;
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
  }
  .home-hero-images {
    width: 80%;
    order: -9;
    position: relative;
  }
  .navbar_items .d-flex {
    display: none !important;
  }
  .highlights_stats-grid {
    grid-column-gap: 3rem;
    grid-row-gap: 3rem;
    grid-template-columns: 1fr;
    margin-top: 5rem;
  }
  .home_resources-component {
    margin-top: 5rem;
  }
  .resources_grid {
    grid-template-columns: 1fr;
  }
}
@media screen and (min-width: 992px) {
  .menu-icon {
    display: none !important;
  }
  #nav {
    display: none !important;
  }
}
@media screen and (max-width: 768px) {
  .home-hero-heading {
    font-size: 28px;
  }
  .home-hero-heading span {
    font-size: 40px;
  }
  .m-logo {
    display: block;
  }
  .logo {
    display: none;
  }
  .menubar {
    display: none;
  }
  .availability-button-group {
    max-width: 320px;
    grid: none;
  }
  .games-p2p-image {
    order: -999;
  }
  .games-p2p-grid {
    display: flex;
    flex-flow: column;
  }
  .games-p2p-content {
    flex-flow: column;
    align-self: center;
    display: flex;
  }
  .games-about-list-item {
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }
  .home-games-content-left-col {
    width: 100%;
    padding: 50% 0 20px 0;
  }
  .home-games-content-right-col {
    z-index: 0;
    width: 40%;
    height: 33%;
    display: block;
    position: absolute;
    inset: 45% 30% auto;
    overflow: hidden;
    background-image: none;
  }
  .section-home-guide .flex {
    display: block !important;
  }
  .games_section_padding {
    padding-top: 3rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
  .games_testimonials_wrapper {
    flex-flow: row;
    grid-template-columns: 1fr;
    margin-top: 3rem;
    margin-left: 0;
  }
  .hide-mobile-landscape {
    display: none !important;
  }
  .games_testimonials_heading-wrrapper {
    flex-flow: column;
  }
  .hide {
    display: inline;
  }
  .games_testimonials_wrapper {
    flex-flow: row;
    grid-template-columns: 1fr;
    margin-top: 0.5rem;
    margin-left: 0;
  }
  .games_testimonials_button-wrapper {
    flex-flow: column;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    display: flex;
  }
  .button-secondary {
    width: 100%;
  }
  .section_games_cta {
    margin-top: 0rem;
    margin-bottom: 2.5rem;
  }
  .padding-xxlarge {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .padding-global {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
  .games_cta_padding {
    padding-left: 0;
    padding-right: 0;
  }
  .games_faq_question {
    padding: 1rem 1.25rem;
  }
  .games_faq_answer {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
  .highlights_section_handwritten {
    font-size: 5rem;
    top: 42%;
  }
  .resources_button-wrapper {
    flex-flow: column;
    align-items: stretch;
  }
  .button-see {
    width: 100%;
  }
  .footer_wrapper {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
  }
  .footer_top-wrapper {
    grid-row-gap: 3rem;
  }
  .footer_menu-wrapper {
    grid-column-gap: 1.5rem;
    grid-row-gap: 2.5rem;
    grid-template-columns: 1fr;
  }
  .footer_store-badges {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
  }
  .footer_store-badge {
    object-fit: cover;
  }
  .games_cta_padding {
    padding-left: 0;
    padding-right: 0;
  }
  .games_cta_container {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

@media screen and (max-width: 578px) {
  .home-abailability-tabs-menu {
    justify-content: start;
  }
  .legend-grid-item {
    flex-flow: column;
  }
}
@media screen and (max-width: 478px) {
  .display-medium {
    font-size: 1.5rem;
  }
  .games_testimonials_wrapper {
    flex-flow: column;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    margin-top: 3rem;
    display: flex;
  }
  .games_testimonials_column {
    flex: 0 auto;
    align-self: center;
  }
  .games_testimonials_item,
  .updates_hero-heading {
    width: 100%;
  }
  .section_games_cta {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }
  .games_cta_container {
    padding: 1rem;
  }
  .highlights_section_handwritten {
    font-size: 5rem;
    top: 42%;
  }
  .highlights_stats-text {
    font-size: 3rem;
  }
  .footer_bottom-wrapper {
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
    flex-flow: column;
  }
  .footer_social-list {
    order: -1;
  }
  .mobile-hidden {
    display: none;
  }
}
